name: publish

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Clone repository
        uses: actions/checkout@v6

      - name: Set up Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
          cache: true

      - name: Format
        run: deno fmt --check

      - name: Type check
        run: deno task check

      - name: Test
        run: deno task test

      - name: Publish to JSR
        run: deno publish
